body {
  font-family: Verdana;
  font-size: 1.5em; }
  body h1 {
    color: #FF0000; }

#team-members {
  clear: both; }
  #team-members .member {
    float: left;
    /* border: 1px solid gray; */
    margin: 10px;
    padding: 6px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
    #team-members .member:nth-child(odd):hover {
      -ms-transform: scaleX(0.95) scaleY(0.95) rotate(2deg);
      -webkit-transform: scaleX(0.95) scaleY(0.95) rotate(2deg);
      transform: scaleX(0.95) scaleY(0.95) rotate(2deg); }
    #team-members .member:nth-child(even):hover {
      -ms-transform: scaleX(1.05) scaleY(1.05) rotate(-2deg);
      -webkit-transform: scaleX(1.05) scaleY(1.05) rotate(-2deg);
      transform: scaleX(1.05) scaleY(1.05) rotate(-2deg); }
    #team-members .member .member_photo {
      width: 250px;
      height: 250px;
      border-radius: 40px;
      box-shadow: 10px 10px 5px #cdcfcf; }
    #team-members .member #don {
      background: url("../images/don_burks.jpg"); }
      #team-members .member #don:hover {
        background: url("../images/alt/don_alt.jpg"); }
    #team-members .member #monica {
      background: url("../images/monica.jpg"); }
      #team-members .member #monica:hover {
        background: url("../images/alt/monica_alt.jpg"); }
    #team-members .member #david {
      background: url("../images/davidvandusen.jpg"); }
      #team-members .member #david:hover {
        background: url("../images/alt/david_alt.jpg"); }
    #team-members .member #khurram {
      background: url("../images/khurram_virani.jpg"); }
      #team-members .member #khurram:hover {
        background: url("../images/alt/khurram_alt.jpg"); }
    #team-members .member #arvinder {
      background: url("../images/arvinder.jpg"); }
      #team-members .member #arvinder:hover {
        background: url("../images/alt/arvinder_alt.jpg"); }
    #team-members .member #arvinder {
      background: url("../images/arvinder.jpg"); }
      #team-members .member #arvinder:hover {
        background: url("../images/alt/arvinder_alt.jpg"); }
    #team-members .member #charlyne {
      background: url("../images/charlyne_fothergill.jpg"); }
      #team-members .member #charlyne:hover {
        background: url("../images/alt/charlyne_alt.jpg"); }
    #team-members .member #jeremy {
      background: url("../images/jeremy_shaki.jpg"); }
      #team-members .member #jeremy:hover {
        background: url("../images/alt/jeremy_alt.jpg"); }
    #team-members .member #landon {
      background: url("../images/landon.jpg"); }
      #team-members .member #landon:hover {
        background: url("../images/alt/landon_alt.jpg"); }
    #team-members .member #michael {
      background: url("../images/michael_steele.jpg"); }
      #team-members .member #michael:hover {
        background: url("../images/alt/michael_alt.jpg"); }
    #team-members .member #murat {
      background: url("../images/murat.jpg"); }
      #team-members .member #murat:hover {
        background: url("../images/alt/murat_alt.jpg"); }
    #team-members .member #rosy {
      background: url("../images/rosy.jpg"); }
      #team-members .member #rosy:hover {
        background: url("../images/alt/rosy_alt.jpg"); }
    #team-members .member #sylvia {
      background: url("../images/sylvia_rayner.jpg"); }
      #team-members .member #sylvia:hover {
        background: url("../images/alt/sylvia_alt.jpg"); }
    #team-members .member #sherman {
      background: url("../images/sherman.jpg"); }
      #team-members .member #sherman:hover {
        background: url("../images/alt/sherman_alt.jpg"); }
    #team-members .member div.name {
      padding-top: 10px;
      text-align: center; }

/*# sourceMappingURL=style.css.map */
