$primaryColor: #FF0000;
$primaryFont: Verdana;

body {
  font-family: $primaryFont;
  font-size: 1.5em;

  h1 {
    color: $primaryColor;
  }
}

#team-members {
  clear: both;
  
  .member {
    float: left;
    /* border: 1px solid gray; */
    margin: 10px;
    padding: 6px;

    .member_photo {
      width: 250px;
      height: 250px;
      border-radius: 40px;
      box-shadow: 10px 10px 5px #888888;
    }

    #don {
      background: url('../images/don_burks.jpg');

      &:hover {
        background: url('../images/alt/don_alt.jpg');
      } 
    }

    #monica {
      background: url('../images/monica.jpg');

      &:hover {
        background: url('../images/alt/monica_alt.jpg');
      } 
    }

    #david {
      background: url('../images/davidvandusen.jpg');

      &:hover {
        background: url('../images/alt/david_alt.jpg');
      } 
    }

    #khurram {
      background: url('../images/khurram_virani.jpg');

      &:hover {
        background: url('../images/alt/khurram_alt.jpg');
      } 
    }

    #arvinder {
      background: url('../images/arvinder.jpg');

      &:hover {
        background: url('../images/alt/arvinder_alt.jpg');
      } 
    }

    #arvinder {
      background: url('../images/arvinder.jpg');

      &:hover {
        background: url('../images/alt/arvinder_alt.jpg');
      } 
    }

    #charlyne {
      background: url('../images/charlyne_fothergill.jpg');

      &:hover {
        background: url('../images/alt/charlyne_alt.jpg');
      } 
    }

    #jeremy {
      background: url('../images/jeremy_shaki.jpg');

      &:hover {
        background: url('../images/alt/jeremy_alt.jpg');
      } 
    }

    #landon {
      background: url('../images/landon.jpg');

      &:hover {
        background: url('../images/alt/landon_alt.jpg');
      } 
    }

    #michael {
      background: url('../images/michael_steele.jpg');

      &:hover {
        background: url('../images/alt/michael_alt.jpg');
      } 
    }

    #murat {
      background: url('../images/murat.jpg');

      &:hover {
        background: url('../images/alt/murat_alt.jpg');
      } 
    }

    #rosy {
      background: url('../images/rosy.jpg');

      &:hover {
        background: url('../images/alt/rosy_alt.jpg');
      } 
    }

    #sylvia {
      background: url('../images/sylvia_rayner.jpg');

      &:hover {
        background: url('../images/alt/sylvia_alt.jpg');
      } 
    }

    #sherman {
      background: url('../images/sherman.jpg');

      &:hover {
        background: url('../images/alt/sherman_alt.jpg');
      } 
    }

    div.name {
      padding-top: 10px;
      text-align: center;  
    }
  }
}